// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@100;300;400;700&display=swap');

html {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  color: #000;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(70, 130, 180, 1) 0%,
    rgba(238, 238, 238, 1),
    50%,
    rgba(255, 165, 0, 1) 100%
  );
  display: grid;
  place-items: center;
}

.container {
  width: 90vw;
  max-width: 500px;
  background-color: #cecece;
  display: grid;
  gap: 1px;
  grid-template-areas:
    'header header header header'
    'display display display display';
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 20px minmax(120px, auto) repeat(5, minmax(0, 70px));
  scale: 0.6;
  transition: 0.5s scale, opacity ease-in-out;
  opacity: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 1px 3px 9px rgba(135, 147, 39, 0.1);

  > * {
    transition: 0.2s opacity ease-in-out;
    transition-delay: 0.3s;
    opacity: 0.3;
  }

  &.on {
    scale: 1;
    opacity: 1;

    > * {
      opacity: 1;
    }
  }

  &:focus-within {
    background-color: rgba(225, 225, 225, 0.5);
  }
}

.header {
  grid-area: header;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.85rem;
    padding-top: 0.5rem;
    font-weight: 100;
  }
}

.display {
  grid-area: display;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.previousvalue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.currentvalue {
  font-size: 3rem;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Roboto Mono', monospace;
}

button {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: whitesmoke;

  &:hover,
  &:active {
    transition: 0.2s background-color ease-in-out;

    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}

.function {
  background-color: rgb(235, 235, 235);
}

.transparency {
  background-color: rgba(255, 255, 255, 0.6);
}

.equals {
  background-color: rgb(108, 177, 233);

  &:hover,
  &:active {
    background-color: steelblue;
    filter: brightness(122%);
  }
}

// Media queries

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .container {
    grid-template-rows: 25px minmax(85px, auto) repeat(5, minmax(0, 85px));
  }
}
